<%=title%>
<div>
    <%=info%>

</div>
<!--循环-->
<% for(var i=0; i<data.length; i++) {%>
<tr>
    <td>
        <%= data[i]%>
    </td>
</tr>
<% } %>

<!--判断-->

<% if ( select == "yes") { %>
        <li class="active <%=select%>" >selected</li>
<% } else { %>
    <li></li>
<% } %>
<!--函数-->

<%-console.log(0)%>